<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="t_rs_talk_over">
  <resultMap id="BaseResultMap" type="com.xiaoxu.bean.TalkOver">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TALK_TOPIC" jdbcType="VARCHAR" property="talkTopic" />
    <result column="TALK_COUNT" jdbcType="INTEGER" property="talkCount" />
    <result column="VERSION_NO" jdbcType="INTEGER" property="versionNo" />
    <result column="DEL_FLG" jdbcType="TINYINT" property="delFlg" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="EXTEND_FIELD1" jdbcType="VARCHAR" property="extendField1" />
    <result column="EXTEND_FIELD2" jdbcType="VARCHAR" property="extendField2" />
    <result column="EXTEND_FIELD3" jdbcType="VARCHAR" property="extendField3" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId"/>
  </resultMap>
  <sql id="Base_Column_List">
    ID, TALK_TOPIC, TALK_COUNT, VERSION_NO, DEL_FLG, DESCRIPTION, EXTEND_FIELD1, EXTEND_FIELD2, 
    EXTEND_FIELD3, CREATOR, CREATE_TIME, MODIFIER, MODIFY_TIME, USER_ID
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_lu_talk_over
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.xiaoxu.bean.TalkOver">
    insert into t_lu_talk_over
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="talkTopic != null">
        TALK_TOPIC,
      </if>
      <if test="talkCount != null">
        TALK_COUNT,
      </if>
      <if test="versionNo != null">
        VERSION_NO,
      </if>
      <if test="delFlg != null">
        DEL_FLG,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="extendField1 != null">
        EXTEND_FIELD1,
      </if>
      <if test="extendField2 != null">
        EXTEND_FIELD2,
      </if>
      <if test="extendField3 != null">
        EXTEND_FIELD3,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="talkTopic != null">
        #{talkTopic,jdbcType=VARCHAR},
      </if>
      <if test="talkCount != null">
        #{talkCount,jdbcType=INTEGER},
      </if>
      <if test="versionNo != null">
        #{versionNo,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null">
        #{delFlg,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="extendField1 != null">
        #{extendField1,jdbcType=VARCHAR},
      </if>
      <if test="extendField2 != null">
        #{extendField2,jdbcType=VARCHAR},
      </if>
      <if test="extendField3 != null">
        #{extendField3,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoxu.bean.TalkOver">
    update t_lu_talk_over
    <set>
      <if test="talkTopic != null">
        TALK_TOPIC = #{talkTopic,jdbcType=VARCHAR},
      </if>
      <if test="talkCount != null">
        TALK_COUNT = #{talkCount,jdbcType=INTEGER},
      </if>
      <if test="versionNo != null">
        VERSION_NO = #{versionNo,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null">
        DEL_FLG = #{delFlg,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="extendField1 != null">
        EXTEND_FIELD1 = #{extendField1,jdbcType=VARCHAR},
      </if>
      <if test="extendField2 != null">
        EXTEND_FIELD2 = #{extendField2,jdbcType=VARCHAR},
      </if>
      <if test="extendField3 != null">
        EXTEND_FIELD3 = #{extendField3,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>